@model IEnumerable<merigurumiblog.Post>

<div class="blog-posts col-blog">
    @foreach (merigurumiblog.Post Post in Model)
    {
        <div class="post row">
            <div class="col-sm-4">
                <figure>
                    <a href="blog-post.html">
                        <div class="text-overlay">
                            <div class="info"><span>Detay</span></div>
                        </div>
                        <img src="style/images/art/b1.jpg" alt="" />
                    </a>
                </figure>
            </div>
            <div class="col-sm-8 post-content">
                <div class="meta">
                    <span class="date">@Post.Postdate.ToShortDateString()</span>
                    <span class="comments">
                        <a href="#">@Post.Comment.Count <i class="icon-chat-1"></i></a>
                    </span>
                </div>
                <h2 class="post-title"><a href="blog-post.html">@Post.Postname</a></h2>
                <p>@Post.Postcontent.Substring(0, 300)</p>
            </div>
        </div>
    }

</div>